:root{
    --gold: #beba54;
    --gold-dull: #979666;
    --primary: var(gold);
    --secondary: #000;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4{
    color: var(--gold);
}

/* NAVBAR */

.navbar.bg-gold{
    background-color: var(--gold-dull);
}

.navbar>.container{
    gap: 20px;
}

/* Bootstrap dropdown on hover */

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.dropdown-menu{
    border-radius: 0;
}



/* -- Video */

.fullscreen-bg{
    display: flex;
    height: 400px;
}

    .fullscreen-bg video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* -- Articles */

#articles{
    padding: 40px 0;
}

    #articles .card, #events .card{
        border: none;
    }

    #articles .card-body h4 a, #events .card-body h4 a{
        color: var(--gold);
        text-decoration: none;
        font-size: 18px;
    }

    #articles .card-body .card-text a, #events .card-body .card-text a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
    }

/* -- Blocks */



.left-img{
    margin: 20px 0;
}

.left-img .container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.left-img .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-img .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .left-img .text h3{
        font-family: 'PT Serif', serif;
    }


.left-img .text.box{
    background: #261f17;
    color: #e8e2dc;
    line-height: 1.4em;
    padding: 40px;
}
